## Test

In [3]:
import numpy as np
import pandas as pd

In [4]:
d = {
    "c1" : [1,2,3,4,5],
    "c2" : [4,8,7,5,3],
    "c3" : [1,9,9,0,3]
}

In [5]:
df = pd.DataFrame(d)

In [6]:
df.head()

   c1  c2  c3
0   1   4   1
1   2   8   9
2   3   7   9
3   4   5   0
4   5   3   3

In [7]:
df.dtypes

c1    int64
c2    int64
c3    int64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      5 non-null      int64
 1   c2      5 non-null      int64
 2   c3      5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes

In [9]:
df.describe()

             c1        c2        c3
count  5.000000  5.000000  5.000000
mean   3.000000  5.400000  4.400000
std    1.581139  2.073644  4.335897
min    1.000000  3.000000  0.000000
25%    2.000000  4.000000  1.000000
50%    3.000000  5.000000  3.000000
75%    4.000000  7.000000  9.000000
max    5.000000  8.000000  9.000000

### Novi novi novi

In [10]:
url = 'C:\\Users\\faris\\Downloads\\chicago_dataset.csv'
df2 = pd.read_csv(url)
df2.head(10)

C:\Users\faris\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION
0,2221191-20200216,2705242,45084,20,CHICAGO YOUTH CENTERS,GEORGE E TAYLOR CHILD DEVELOPMENT CENTER,3232 W DIVISION ST 1ST,CHICAGO,IL,60651,...,02/16/2020,02/15/2022,11/10/2020,11/13/2020,AAI,NaN,NaN,41.902929,-87.708049,"(41.90292929858984, -87.70804857041449)"
1,2215650-20200216,2705247,46973,1,CHICAGO SINAI CONGREGATION,CHICAGO SINAI CONGREGATION,15 W DELAWARE PL 1ST,CHICAGO,IL,60610,...,02/16/2020,02/15/2022,11/13/2020,11/13/2020,AAI,NaN,NaN,41.899022,-87.628924,"(41.899021699577446, -87.62892425348232)"
2,2583829-20200218,2583829,425563,1,"GAELIC FIRE BRIGADE, INC.","GAELIC FIRE BRIGADE, INC.",10627 S PULASKI RD 1,CHICAGO,IL,60655,...,02/18/2020,02/15/2022,02/18/2020,02/18/2020,AAI,NaN,NaN,41.699590,-87.720525,"(41.69959016411553, -87.72052483447736)"
3,8291-20200216,2704654,3571,1,THE RACQUET CLUB OF CHICAGO,THE RACQUET CLUB OF CHICAGO,1365 N DEARBORN ST,CHICAGO,IL,60610,...,02/16/2020,02/15/2022,01/15/2020,01/16/2020,AAI,NaN,NaN,41.907636,-87.629952,"(41.907636294514994, -87.62995230434338)"
4,1742946-20210216,2763301,30322,1,"DRAM SHOP, LTD.",DRAM SHOP LTD,3040 N BROADWAY,CHICAGO,IL,60657,...,02/16/2021,02/15/2022,12/29/2021,12/30/2021,AAI,NaN,8.0,41.937596,-87.644465,"(41.93759551483016, -87.64446516842042)"
5,2575422-20200216,2708160,424330,1,KUDOS PIZZA INC.,KUDOS PIZZA,5858 N LINCOLN AVE 1ST,CHICAGO,IL,60659,...,02/16/2020,02/15/2022,02/19/2020,11/17/2020,AAI,NaN,NaN,41.987860,-87.703367,"(41.98786035580833, -87.70336737996178)"
6,1493246-20200216,2705450,87476,1,"ADDINGTON GALLERY, INC.",ADDINGTON GALLERY,704 N WELLS ST,CHICAGO,IL,60610,...,02/16/2020,02/15/2022,11/13/2020,11/18/2020,AAI,NaN,NaN,41.894975,-87.634304,"(41.89497486737486, -87.63430443613524)"
7,26500-20200216,2704819,10866,7,"OFFICE DEPOT, INC.",OFFICE DEPOT #489,5420 S LAKE PARK AVE 1,CHICAGO,IL,60615,...,02/16/2020,02/15/2022,10/26/2020,11/19/2020,AAI,NaN,61.0,41.797416,-87.587403,"(41.79741567956419, -87.58740344613095)"
8,2098826-20200216,2704821,10866,16,"OFFICE DEPOT, INC.",OFFICE DEPOT,300 W HUBBARD ST 2ND 202,CHICAGO,IL,60654,...,02/16/2020,02/15/2022,11/18/2020,11/19/2020,AAI,NaN,NaN,41.890073,-87.635598,"(41.890072617091896, -87.63559785580715)"
9,1222774-20200216,2704820,10866,9,"OFFICE DEPOT, INC.",OFFICE DEPOT INC #225,2928 N ASHLAND AVE,CHICAGO,IL,60657,...,02/16/2020,02/15/2022,10/26/2020,11/19/2020,AAI,NaN,27.0,41.935088,-87.668640,"(41.93508780119828, -87.66863991970202)"